<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/suggest.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/suggest.js') }}" defer></script>

    <title>Suggest</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="sidebar">
                <div class="card">
                    <div class="card-body" id="categories"></div>
                </div>
            </div>
            <div class="col-md-9" id="page">
                <div class="input-group mb-3">
                    <input class="form-control form-control-lg" type="text" id="search-text"
                        placeholder="Wonach suchen Sie?" aria-describedby="search-btn">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" type="button" id="search-btn">Suchen</button>
                    </div>
                    <div class="card" id="suggestion-card">
                        <div class="card-body" id="suggestions">
                          
                        </div>
                      </div>
                </div>

                <div class="form-group" id="sorter">
                    <select class="form-control" id="sort-select">
                        <option>Preis (billigster oben)</option>
                        <option>Preis (teuerster oben)</option>
                    </select>
                </div>

                <div class="row" id="results">

                </div>
            </div>
        </div>
    </div>
</body>

</html>